<!DOCTYPE html>
<html lang="fr">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/choix.css">

</head>
<body>
<center>
    <h1 style="font-size:50px">Indicateur PoRo</h1>
    </center>
<div class="bg-image"></div>

<div class="bg-text">
  <div style="font-size:1.5em">
<a href="{{ url_for('contact') }}" class="button5" style="background-color:#ffc000">Mettre a jour une donnee</a>
<a href="{{ url_for('projets') }}" class="button5" style="border-color:#333435; background-color:#333435; color:#FFFFFF">Voir les projets</a>
</div>
</div>

</body>
</html>
