<!doctype html>
<html lang="en">
  <head>
  	<title>Modification PoRo {{projet}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="../static/css/style2.css">
	<link rel="stylesheet" href="../static/css/choix.css">

	</head>
	<body>
	  {% if bien %}
        <script>
  alert("{{ bien }}");

</script>
    {% endif %}

	<section class="ftco-section">

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">PoRo</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10 col-md-12">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="col-md-7 d-flex align-items-stretch">
								<div class="contact-wrap w-100 p-md-5 p-4">





<script>
	function setSelectValue (id, val) {
    document.getElementById(id).value = val;
}
</script>



									<form action="/modification" method="POST">
										<div class="row">

											<div class="col-md-6">
												<div class="form-group">
													<select name="projet" id="projet">
                										<option value="">projet</option>
														<option value="P1316">P1316</option>
														<option value="HCB">HCB</option>
														<option value="DHN">DHN</option>
														<option value="P1310">P1310</option>
														<option value="DJB">DJB</option>
														<option value="HJB2">HJB2</option>
														<option value="P1317">P1317</option>
														<option value="R1310">R1310</option>
														<option value="R1312">R1312</option>


            										</select>
												</div>
											</div>
											<script>setSelectValue("projet", "{{ projet }}");</script>
											<div class="col-md-12">
												<div class="form-group">
													<select name="Piece" id="Piece">

                											<option value="">Pièce </option>
                											<option value="Barres de toit">Barres de toit</option>
														    <option value="Bouclier AR">Bouclier AR</option>
															<option value="Bouclier AV">Bouclier AV</option>
														    <option value="Cluster">Cluster </option>
														    <option value="Console">Console </option>
														    <option value="DRL">DRL </option>
														    <option value="Ecran">Ecran </option>
														    <option value="Feu"> Feu</option>
														    <option value="Habillage de coffre">Habillage de coffre </option>
														    <option value="Miroirs extérieurs"> Miroirs extérieurs </option>
														    <option value="Panneau porte AR"> Panneau porte AR </option>
														    <option value="Panneau porte AV"> Panneau porte AV </option>
														    <option value="Planche de bord"> Planche de bord </option>
														    <option value="Projecteur">Projecteur </option>
														    <option value="Sièges">Sièges </option>
														    <option value="Volants">Volants </option>
														    <option value="barette (switches)">barette (switches) </option>
            									</select>
												</div>
											</div>
												<script>setSelectValue("Piece", "{{ piece }}");</script>
											<div class="col-md-12">
												<div class="form-group">
													 <select name="jalon" id="jalon" onchange="yesnoCheck(this);">

                											<option value=""></option>
                											<option value="Ready_to_start_PC">Ready to start @PC</option>
															<option value="PoRo_building_PC_CF">PoRo building PC->CF</option>
															<option value="Expert_nomination">Expert nomination</option>
															<option value="PoRo_Signature_CF">PoRo Signature @Cf</option>
															<option value="Poro_Achievement_CF_p">Poro Achievement >CF</option>
															<option value="Suppluiers_Nomination">Suppliers Nomination</option>
            											</select>

												</div>
											</div>
											<script>setSelectValue("jalon", "{{ jalon }}");</script>
                                             <div class="col-md-6">
												<div class="form-group">
													<select name="etat" id="etat" >
                                                            <option value="">Status</option>
  															<option value="1" style="background-color: #f13b13;" > Data missing</option>
															<option value="2" style="background-color: #f1f113;">Data in progress</option>
  															<option value="3" style="background-color: #8bf446;">OK / Done / Conform</option>
														    <option value="4" style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(10,10,10,0.9612045501794468) 35%, rgba(0,212,255,1) 100%);">COCA, morphing, or out of BOM</option>
														    <option value="5" style="background-color: #80847d;">Not concerned</option>
													</select>
												</div>
											</div>



											<div class="col-md-12">
												<div class="form-group">
													<textarea name="week" class="form-control" id="week" cols="2" rows="2" placeholder="week"></textarea>
												</div>
											</div>

											<div class="col-md-12">
												<div class="form-group">
													<textarea name="remarque" class="form-control" id="remarque" cols="20" rows="7" placeholder="Remarques"></textarea>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Mettre a jour le PoRo" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>

					</div>
				</div>
			</div>
		</div>
		</div>
	</section>

<script>
	var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}

</script>
	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

